body{
    background-color: rgb(255, 255, 255);
}

.Myheader{
    background-color: rgb(248, 248, 248);
    color: rgb(109, 143, 143);
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.Per{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    margin: auto;
}